@import "ticket.component.css";
@import "movie.component.css";
@import "snack.component.css";
@import "layout.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.primary {
  color: #13AE00;
}

.secondary {
  color: #2D9BF0;
}

button {
  border: none;
  color: white;
  padding: 1rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}

.button-primary {
  background-color: #13AE00;
}

.button-primary:hover {
  background-color: #0f9000;
}

.button-secondary {
  background-color: #2D9BF0;
}

.button-secondary:hover {
  background-color: #0f83dc;
}

.box {
  padding: 1rem;
}

.bordered {
  border: 1px solid black;
  border-radius: 8px;
}

.border-dashed {
  border-style: dashed;
}

.text-center {
  text-align: center;
}

.bg-white {
  background-color: white;
}

.d-none {
  display: none;
}

.thumbnail {
  height: 150px;;
}
